<!--footer 3 start -->
<footer class="footer footer-three">
  <div class="primary-footer brand-bg">
    <div class="container">
      <a href="#top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light tt-animate btt" data-section="#top">
        <i class="material-icons">&#xE316;</i>
      </a>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="footer-logo">
            <img src="<%= asset_path 'logo/logo_white.png' %>" alt="logo_white">
          </div>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.primary-footer -->

  <div class="secondary-footer brand-bg">
    <div class="container">
      <hr class="mb-20">
      <div class="row">
        <div class="col-md-6">
          <span class="copy-text">Contact Us | <a href="mailto:saint0227@naver.com">saint0227@naver.com</a> | 010-1234-1234</span>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
          <ul class="social-link tt-animate ltr">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div><!-- /.col-md-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.secondary-footer -->
</footer>
<!--footer 3 end-->